<!--Akshit Narang, #301177669, COMP 229, Section 008-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <img src="/Assets/images/myImg.jpg" alt="My Image" class="about_img" />
    <p style="font-family: Arial">
    Hello!
    <br />
    Welcome to my Webpage.
    <br />
    My name is Akshit Narang
    <br />
    I am a <b>Software Engineering Technician</b> student at
    Centennial College, Toronto, Ontario
    <br />
    I completed my 12<sup>th</sup> in 2020 from Kundan Vidya Mandir
    Senior Secondary School, Punjab, India.
</p>
<p style="font-family: Arial">
    I am a huge fan of Rowan Atkinson and one of my favourite quotes
    by him is:
</p>
<blockquote style="font-size: 120%">
    <i
        >To be successful you don't need beautiful face and heroic
        body. What you need is a skillful mind and ability to
        perform.</i
    >
</blockquote>

<p style="font-family: Arial">
    Some of the things I enjoy doing in my leisure time include:
</p>
<ul style="font-family: arial">
    <li>Watching Movies</li>
    <li>Cycling</li>
    <li>Driving</li>
    <li>Gaming</li>
</ul>
<p style="font-family: Arial;">
    My preferred brand of smart phones is OnePlus&reg;.
</p>

<h5><a href="/Assets/documents/Akshit_Narang_Resume.pdf"><i class="far fa-file"></i>&nbsp;&nbsp;Resume</a></h5>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>