<!--Akshit Narang, #301177669, COMP 229, Section 008-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<img src="/Assets/images/img_tree.gif" alt="Tree Image" class="home_img">
  <p class="lead">Hi There! My name is Akshit Narang.<br>I am so excited to welcome you to my new Website.<br>This website is built using technologies like HTML, CSS, JavaScript, Bootstrap, Express, Node.js, EJS Templating Engine.</p>
  <hr class="my-4">
  <p>Links to other pages, you may like t visit.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <a class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a><br><br>
  <a class="btn btn-primary btn-lg" href="/services" role="button">Services</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>