<!--Akshit Narang, #301177669, COMP 229, Section 008-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link rel="stylesheet" href="/Content/project_card.css">
<!--Project 1 -->
<div class="blog_post">
    <div class="blog_post_img">
        <img src="/Assets/images/a1.png" />
    </div>
    <div class="blog_post_info">
        <h1 class="blog_post_title"  id="blog_post_img">Project 1</h1>
        <p class="blog_post_text">This Page will help you Calculate your Basal Metabolic Rate. Calculations can be done using Imperial or Metric units.</p>
        <a href="/project_files/Assignment1/assignment1.html" class="blog_post_cta">Open</a>
    </div>
</div>
        
<!--Project 2 -->
        <div class="blog_post">
    <div class="blog_post_img">
        <img src="/Assets/images/a2.png" />
    </div>
    <div class="blog_post_info">
        <h1 class="blog_post_title">Project 2</h1>
        <p class="blog_post_text">This Page creates a 25x25 table. You can also put the number of rows and columns to generates a table which will automatically label each cell's row and column number inside it. Additionally, you can also choose table's backgroud colour.</p>
        <a href="/project_files/Assignment2/assignment2.html" class="blog_post_cta">Open</a>
    </div>
        </div>
            
<!--Project 3 -->
    <div class="blog_post">
    <div class="blog_post_img">
        <img src="/Assets/images/a3.png" />
    </div>
    <div class="blog_post_info">
        <h1 class="blog_post_title">Project 3</h1>
        <p class="blog_post_text">This is a Member Registeration Page. This page will validate all user input before successfull registeration. If the user tries to register with any invalid field will show custom error message.</p>
        <a href="/project_files/Assignment4/assignment4.html" class="blog_post_cta">Open</a>
    </div>
    </div>
            
<!--Project 4 -->
    <div class="blog_post">
    <div class="blog_post_img">
        <img src="/Assets/images/a4.png" />
    </div>
    <div class="blog_post_info">
        <h1 class="blog_post_title">Project 4</h1>
        <p class="blog_post_text">This is a Bug Smasher Game.</p>
        <a href="/project_files/Assignment5/Assignment5.html" class="blog_post_cta">Open</a>
    </div>
    </div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>