<!--Akshit Narang, #301177669, COMP 229, Section 008-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link rel="stylesheet" href="/Content/project_card.css">

<br><br><br>
<div class="blog_post">
    <div class="blog_post_img">
        <img src="/Assets/images/c.png" />
    </div>
    <div class="blog_post_info">
        <h1 class="blog_post_title"  id="blog_post_img">General Programming</h1>
        <p class="blog_post_text">Programming with C#</p>
    </div>
</div>

<div class="blog_post">
    <div class="blog_post_img">
        <img src="/Assets/images/web_app.png" />
    </div>
    <div class="blog_post_info">
        <h1 class="blog_post_title"  id="blog_post_img">Web Application Development</h1>
        <p class="blog_post_text">Web app development using HTML, CSS, JavaScript, Express, EJS, Bootstrap and many other frameworks and technologies.</p>
    </div>
</div>

<p><i>Image Credits
    <br>
    <a href="https://www.mindinventory.com/blog/technology-stack-for-web-app-development/">Mind Inventory</a>
    <br>
    <a href="https://www.pluralsight.com/paths/csharp">Plural Sight</a>
</i></p>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>